.singlepost
{
    flex:9
}
.wrapperImg
{
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.singlePostWrapper
{
    padding: 20px;
    padding-right: 0;
    display:flex;
    flex-direction:column;
}
.singlePostTitle
{
    text-align: center;
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;

}
.singlePostTitleInput
{
    margin: 10px;
    font-family: 'Lora', serif;
    font-size: 28px;
    text-align: center;
}
.singlePostTitleInput:focus
{
    outline: none;
    border:none;
    border-bottom:1px solid lightgrey;
    color:grey;
}
.singlePostEdit
{
    float:right;
    font-size: 16px;
}

.singlePostIcon
{
    margin-left: 10px;
    cursor: pointer;
}
.singlePostIcon:first-child
{
    color:teal;
}
.singlePostIcon:last-child
{
    color:tomato;
}
.singlePostInfo
{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color:#b39656;
    font-family: 'Varela Round', sans-serif;
}
.singlePostDesc
{
    color:#666;
    font-size: 18px;
    line-height: 35px;
}
.singlePostDesc::first-letter
{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}
.singlePostDescInput
{
    color:#666;
    font-size: 18px;
    line-height: 25px;
    border: none;
    
}
.singlePostDescInput:focus
{
    outline:none;
    
}
.singlePostButton
{
    border:none;
    background-color:teal;
    padding:5px;
    width:100px;
    color:white; 
    border-radius:5px;
    cursor:pointer;
    align-self:flex-end;
}
@media screen and (max-width: 780px){
    .wrapperImg
    {
        width: 94%;
        
    }
    .singlePostTitle
    {
        font-size: 23px;
    }
    .singlePostDesc
    {
        line-height: 35px;
    }
    .singlePostDescInput
    {
        line-height: 35px;
    }
    .mobAuth
    {
        display:flex;
        flex-direction: row;
       
    }

}